body {
	background: white;
}

.number-field {
	border-radius: 3px;
	padding: 10px 50px 10px 10px;
	text-align: left;
	font-size: 25px;
}

.submit {
	background-color: #73E4CA;
    margin-left: 20px;
    padding: 14px;
    font-size: 20px;
}

form {
	padding-bottom: 50px;
}