.navigation {
	background: #73E4CA;
	padding: 0;
	margin: 0;
	display: grid;
}

ul {
	list-style-type: none;
}

li {
	display: inline-block;
	float: left;
}

a {
 	text-decoration: none;
 	color: black;
 	border: 1px black solid;
 	border-radius: 3px;
 	padding: 10px;
}
