.navigation {
	background: #73E4CA;
}

ul {
	display: inline-block;
	list-style-type: none;
}

li {
	float: left;
}

button {
 	text-decoration: none;
 	color: black;
 	border: 1px black solid;
 	border-radius: 3px;
 	padding: 10px;
}

.new-game {
	float: right;
	display: inline-block;
}