body {
  padding: 0;
  margin: 0;
}

.HotColdApp {
  text-align: center;
  display: ;
}

.app-body {
  background: #FCFCFC;
  border: 1px solid black;
  margin: 5% 25% 0 25%;
  padding: 50px;
  border-radius: 5px;
}

h1 {
  font-size: 50px;
  color: #2A2A2A;
}